# MongoDB Connection String (must have read access to ids_db)
MONGODB_URI=mongodb://admin:adminpassword@localhost:27017

# MongoDB Database Name
MONGODB_DB=ids_db

# application base url
NEXT_PUBLIC_APP_URL=http://localhost:3000
